.App {
  text-align: center;
  background-color: #c8c9ca;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;  
  justify-content: left;
  margin-left: 150px;
  margin-right: 150px;
  color: black;
  text-align: left;
}

.App-title { 
    color: red;
  }

.App-text { 
    font-size: small;
    margin-right: 150px;
}

.App-link {
    color: #61dafb;
}

.App-Card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.App-Card-Deck {
    display: flex;
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 35px;
}

@media screen and (min-width: 700px) {
    .App-Card-Deck .App-Card {
        flex: 1 0;
        margin-right: 15px;
        margin-bottom: 0;
        margin-left: 15px;
    }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
