.App {
  text-align: center;
  background-color: #c8c9ca;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-left: 100px;
  margin-right: 100px;
  color: black;
  text-align: left;
}

.App-title {
  color: red;
}

.App-text {
  font-size: small;
  margin-right: 150px;
}

.App-link {
  color: #61dafb;
}

.App-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin-bottom: 25px;
  background-color: orange;
  color: white;
}

.App-card-bg-orange {
  background-color: orange;
}

.App-card-bg-skyblue {
  background-color: skyblue;
}

.App-card-bg-paleviolet {
  background-color: palevioletred;
}

.App-card-deck {
  display: flex;
  flex-flow: row wrap;
  margin-right: -15px;
  margin-left: -15px;
  margin-top: 35px;
}

.App-card-body {
  flex: 1 1 auto;
  margin-right: 10px;
  margin-left: 10px;
}

.App-card-text {
  font-size: small;
}

.App-card-header {
  font-size: x-small;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.btn {
  display: inline-block;
  color: white;
  text-align: center;
  margin: 10px;
  vertical-align: middle;
  background-color: transparent;
  border: 1px solid;
  padding: 0.375rem 0.75rem;
  font-size: x-small;
  line-height: 1.5;
  border-radius: 0.25rem;
}

@media screen and (min-width: 750px) {
  .App-card-deck .App-card {
    flex: 1 0;
    margin-right: 15px;
    margin-bottom: 0;
    margin-left: 15px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
